<div class="card" style="height: 300px;">
  <%= image_tag 'colorfull.jpg', class: "card-img top-img", style: "object-fit: cover; height: 300px;" %>
  <div class="card-img-overlay p-0 row">
    <div class="col-8 d-flex align-items-center p-0">
      <h2 class="text-light m-0 ml-5">Enjoy!! Succulent Life.</h2>
    </div>
    <div class="col-4 d-flex align-items-center ml-auto p-2" style="background-color: rgba(0,0,0,0.5); height: 100%;">
      <p class="text-light m-0 mx-auto">
        多肉屋ぽんぽんへようこそ！<br/>
        <br/>
        多肉植物の販売、寄せ植え教室、リメイク鉢作り体験など<br/>
        様々なイベントも行っております。<br/>
        <br/>
        オンラインでの購入、体験教室のご予約には<br/>
        会員登録が必要になります。
      </p>
    </div>
  </div>
</div>

<div class="container col-11">
  <div class="row">
    <div class="col-3 sidebar_fixed">
      <%= render 'public/items/genre_search', genres: @genres %>
    </div>

    <div class="col">
      <div class="row">
        <% @blogs.each do |blog| %>
          <%= link_to blog_path(blog.id), class: "link" do %>
            <%= blog.title %>
          <% end %>
        <% end %>
      </div>
      <div class="row">
        <div class="row"><h4 class="my-3"><strong>新着商品</strong></h4></div>
        <div class="row">
          <% @items.each do |item| %>
            <div class="col-md-3">
              <%= link_to item_path(item.id), class: "link" do %>
                <% if item.photos.present? %>
                  <%= image_tag item.photos[0].image.url, class: "col-12 img" %>
                <% else %>
                  <%= image_tag "default.jpg", class: "img col-12" %>
                <% end %>
                <div class="m-1">
                  <p class="text-nowrap small m-0"><%= item.name %></p>
                  <%= form_with model: item do |f| %>
                    <% if item.is_active == true %>
                      <p class="text-nowrap small m-0">¥<%= (item.price * 1.1).floor.to_s(:delimited) %>-</p>
                    <% else %>
                      <div class="d-flex">
                        <p class="text-nowrap small m-0"><del>¥<%= (item.price * 1.1).floor.to_s(:delimited) %>-</del></p>
                        <p class="text-secondary text-nowrap small m-0 ml-3"><%= item_status_name(item) %></p>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
        <div class="row col-12">
          <%= link_to "全ての商品を見る >>", items_path, class: "ml-auto my-3", style: "text-decoration: underline;" %>
        </div>
      </div>
    </div>
  </div>
</div>