<div class="container">
  <div class="row">
    <h4 class="m-5 px-4 bg-light">マイページ</h4>
  </div>

  <div class="row">
    <h5 class="col-3 col-md-2 col-lg-1 text-nowrap d-flex align-items-center p-0 m-0"><strong>
      登録情報
    </strong></h5>
    <div class="col">
      <%= link_to "編集する", edit_user_path(@user.id), class: "btn btn-success px-3 py-1 m-0 ml-5" %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-success px-3 py-1 m-0 ml-5" %>
    </div>
  </div>

  <div class="row my-4">
    <table class="table table-bordered col-8">
      <tr>
        <th class="bg-light">氏名</th>
        <td><%= @user.last_name %>　<%= @user.first_name %></td>
      </tr>
      <tr>
        <th class="bg-light">カナ</th>
        <td><%= @user.last_name_kana %>　<%= @user.first_name_kana %></td>
      </tr>
      <tr>
        <th class="bg-light">郵便番号</th>
        <td><%= @user.postal_code %></td>
      </tr>
      <tr>
        <th class="bg-light">住所</th>
        <td><%= @user.address %></td>
      </tr>
      <tr>
        <th class="bg-light">電話番号</th>
        <td><%= @user.telephone_number %></td>
      </tr>
      <tr>
        <th class="bg-light">メールアドレス</th>
        <td><%= @user.email %></td>
      </tr>
    </table>
  </div>

  <div class="row mb-5">
    <div class="col-4 d-flex">
      <h5 class="text-nowrap my-auto"><strong>
        配送先
      </strong></h5>
      <div>
        <%= link_to "一覧を見る", addresses_path, class: "btn btn-primary px-3 py-1 m-0 ml-5 text-nowrap" %>
      </div>
    </div>
    <div class="col-4 d-flex">
      <h5 class="text-nowrap my-auto"><strong>
        注文履歴
      </strong></h5>
      <div>
        <%= link_to "一覧を見る", orders_path, class: "btn btn-primary px-3 py-1 m-0 ml-5 text-nowrap" %>
      </div>
    </div>
    <!--<div class="col-4 d-flex">-->
    <!--  <h5 class="text-nowrap my-auto"><strong>-->
    <!--    体験教室予約履歴-->
    <!--  </strong></h5>-->
    <!--  <div>-->
    <!--    <%= link_to "一覧を見る", orders_path, class: "btn btn-primary px-3 py-1 m-0 ml-5 text-nowrap" %>-->
    <!--  </div>-->
    <!--</div>-->
  </div>
</div>