<!DOCTYPE html>
<html>
  <head>
    <title>SucculentLife</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/71f8f10969.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="shadow-sm">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
          <div class="row">
            <div class="collapse navbar-collapse">
              <ul class="navbar-nav">
                
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>

    <main class="mb-auto">
      <p class="m-3"><%= flash[:notice] %></p>
      <%= yield %>
    </main>
  </body>
</html>
