<!DOCTYPE html>
<html>
  <head>
    <title>SucculentLife</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/71f8f10969.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <header class="shadow-sm">
      <div class="container m-0 p-0 col-12">
        <div class="row col-12 m-0 p-0">
          <% if admin_signed_in? %>
            <%= link_to admin_root_path, class: "link" do %>
              <%= image_tag 'logo.jpg', class: "col-12", style: "object-fit: cover; aspect-ratio: 4 / 1;" %>
            <% end %>
          <% else %>
            <%= link_to root_path, class: "link" do %>
              <%= image_tag 'logo.jpg', class: "col-12", style: "object-fit: cover; aspect-ratio: 4 / 1;" %>
            <% end %>
          <% end %>

          <div class="my-auto"><%= flash[:notice] %></div>

          <h6 class="ml-auto mr-3 my-auto">
            <% if user_signed_in? %>
              <%= link_to users_current_user_path, class: "link" do %>
                <i class="fa-solid fa-circle-user"></i> <%= current_user.last_name %><%= current_user.first_name %> さま
              <% end %>
            <% elsif admin_signed_in? %>
              <%= link_to destroy_admin_session_path, method: :delete, class: "link" do %>
                <i class="fa-solid fa-circle-user"></i> ログアウト
              <% end %>
            <% else %>
              <%= link_to new_user_session_path, class: "link" do %>
                <i class="fa-solid fa-circle-user"></i> ログイン
              <% end %>
            <% end %>
          </h6>
        </div>

        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #382E30;">
          <div class="row">
            <div class="collapse navbar-collapse">
              <ul class="navbar-nav px-4">
                <% if admin_signed_in? %>
                  <li class="nav-item mx-3">
                    <%= link_to admin_users_path, class: "text-light" do %>
                      <i class="fa-solid fa-users"></i> 会員一覧
                    <% end %>
                  </li>
                  <li class="nav-item mx-3">
                    <%= link_to admin_items_path, class: "text-light" do %>
                      <i class="fa-solid fa-store"></i> 商品一覧
                    <% end %>
                  </li>
                  <!--<li class="nav-item mx-3">-->
                  <!--  <%= link_to admin_items_path, class: "text-light" do %>-->
                  <!--    <i class="fa-solid fa-school"></i> 体験教室-->
                  <!--  <% end %>-->
                  <!--</li>-->
                  <li class="nav-item mx-3">
                    <%= link_to admin_orders_path, class: "text-light" do %>
                      <i class="fa-solid fa-cart-shopping"></i> 注文一覧
                    <% end %>
                  </li>
                  <li class="nav-item mx-3">
                    <%= link_to admin_genres_path, class: "text-light" do %>
                      <i class="fa-solid fa-list-ul"></i> ジャンル
                    <% end %>
                  </li>
                  <li class="nav-item mx-3">
                    <%= link_to admin_blogs_path, class: "text-light" do %>
                      <i class="fa-solid fa-pen"></i> ブログ
                    <% end %>
                  </li>
                  <!--<li class="nav-item mx-3">-->
                  <!--  <%= link_to admin_blogs_path, class: "text-light" do %>-->
                  <!--    <i class="fa-solid fa-calendar-days"></i> 営業日-->
                  <!--  <% end %>-->
                  <!--</li>-->
                <% elsif %>
                  <li class="nav-item mx-3">
                    <%= link_to homes_about_path, class: "text-light" do %>
                      <i class="fa-solid fa-house"></i> About
                    <% end %>
                  </li>
                  <li class="nav-item mx-3">
                    <%= link_to items_path, class: "text-light" do %>
                      <i class="fa-solid fa-store"></i> 商品一覧
                    <% end %>
                  </li>
                  <!--<li class="nav-item mx-3">-->
                  <!--  <%= link_to admin_items_path, class: "text-light" do %>-->
                  <!--    <i class="fa-solid fa-school"></i> 体験教室-->
                  <!--  <% end %>-->
                  <!--</li>-->
                  <li class="nav-item mx-3">
                    <%= link_to blogs_path, class: "text-light" do %>
                      <i class="fa-solid fa-pen"></i> ブログ
                    <% end %>
                  </li>
                  <li class="nav-item mx-3">
                    <%= link_to cart_items_path, class: "text-light" do %>
                      <i class="fa-solid fa-cart-shopping"></i> カート
                    <% end %>
                  </li>
                <% else %>
                  <li class="nav-item mx-3">
                    <%= link_to homes_about_path, class: "text-light" do %>
                      <i class="fa-solid fa-house"></i> About
                    <% end %>
                  </li>
                  <li class="nav-item mx-3">
                    <%= link_to items_path, class: "text-light" do %>
                      <i class="fa-solid fa-store"></i> 商品一覧
                    <% end %>
                  </li>
                  <!--<li class="nav-item mx-3">-->
                  <!--  <%= link_to admin_items_path, class: "text-light" do %>-->
                  <!--    <i class="fa-solid fa-school"></i> 体験教室-->
                  <!--  <% end %>-->
                  <!--</li>-->
                  <li class="nav-item mx-3">
                    <%= link_to blogs_path, class: "text-light" do %>
                      <i class="fa-solid fa-pen"></i> ブログ
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>

    <main class="mb-auto">
      <%= yield %>
    </main>

    <footer class="p-3" style="background-color: #382E30;">
      <div class="row text-light">
        <h4 class="m-0 mx-3">Contact：</h4>
        <p class="m-0">
          〒123-4567</br>
          静岡県静岡市清水区三保１−２−３</br>
          090-1234-5678
        </p>
        <h5 class="ml-auto my-auto mr-3">
          <i class="fa-brands fa-instagram mx-2"></i>
          <i class="fa-brands fa-square-x-twitter mx-2"></i>
          <i class="fa-brands fa-line mx-2"></i>
        </h5>
      </div>
    </footer>
  </body>
</html>
